<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressHomeStore';
import AddressBookForm from './AddressBookForm.vue';
import AddressBookList from './AddressBookList.vue'
const addressBookStore = useAddressBookStore()
</script>

<template>
  <div>

    <!--form-->
    <AddressBookForm></AddressBookForm>
    <!--table or list-->
    <AddressBookList></AddressBookList>

  </div>
</template>


