<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressHomeStore';

const addressBookStore = useAddressBookStore()
</script>

<template>
    <div>
        <table>
          <th>ID</th>
          <th>Name</th>
          <th>Tel.</th>
          <th>Gender</th>
          <th>Operation</th>
          <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
            <td>{{ ad.id }}</td>
            <td>{{ ad.name }}</td>
            <td>{{ ad.tel }}</td>
            <td>{{ ad.gender }}</td>
            <td>
              <button @click="addressBookStore.edit(ad.id)">Edit</button>
              <button @click="addressBookStore.remove(ad.id)">Delete</button>
            </td>
          </tr>
        </table>
    </div>
</template>

<style scoped>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
input,select,label,button{
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}
button{
  width: 35%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 5% ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>