<script setup lang="ts">
import MessageBox from '../components/MessageBox.vue';
import MessageList from '../components/MessageList.vue';

import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList|null>(null)
const answers = ['สวัสดีเธอคนนั้น','ไปไหนมาหรอ','วันนี้กินชามไข่มุกยัง','โชคดี']


function send(message: string){
    messages.value.push(message)
    answerWithComputer()

}
function answerWithComputer(){
  const answer = answers[Math.floor(Math.random()*10000)%answers.length]
  messages.value.push(answer)
  nextTick(()=>{
    messageList.value?.updateUI()
  })

}
</script>

<template>
  <div><MessageList ref="messageList" :messages ="messages"></MessageList></div>
  <div><MessageBox @send="send"></MessageBox></div>
</template>
