<script setup lang="ts">
  import DummyComponentVue from '../components/DummyComponent.vue'
  import { ref, provide } from 'vue';


  const num1 = ref(0)
  provide('num1',num1)
  //provide('num1Click',num1Click)
  function num1Click(num:number){
    num1.value++
  }
</script>

<template>
  <div style="text-align: center;">
    <img class="img" src ="../assets/me.jpg" />
    <h3>สวัสดีครับพรี่ ผม ฐานิพงศ์</h3>
    <div>Home2</div>
    {{ num1 }}
    <DummyComponentVue></DummyComponentVue>
    

  </div>
</template>

<style>
.img{
  width: 150px;
  height: 250px;
  border-radius: 50%;
}
</style>
