<script setup lang="ts">
  import { ref } from 'vue';
import NumberButton from '../components/NumberButton.vue';

  const num1 = ref(0)
  function num1Click(num:number){
    console.log(`num1 Clicked: ${num} `)
    num1.value = num
  }
</script>

<template>
  <div style="text-align: center;">
    <img class="img" src ="../assets/me.jpg" />
    <h3>สวัสดีครับพรี่ ผม ฐานิพงศ์</h3>
    <h1 style="color: red;">-----Spoiled Alert-----</h1>
    <h2>อาทิตย์นี้มีมีม</h2>
    <img class="img" style="width: 250px;height: 350px;" src ="../assets/meme.jpg" />
    <h3>---------</h3>
    {{ num1 }}<NumberButton :num = "1" @numClick="num1Click"></NumberButton>
    <NumberButton :num = "2"></NumberButton>
    <NumberButton :num = "3" :inc="5"></NumberButton>
  </div>
</template>

<style>
.img{
  width: 150px;
  height: 250px;
  border-radius: 50%;
}
</style>
